html, body {

}

/*               .= class   #=id                  */

body{

  .img {
    position: absolute;
    top: 5.5%;
    left: 73%;
    width: 22%;
    height: auto;
    border-radius: 12px;
  }

  .sidebar {
    height: 100vh;
    width: 257px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-top: 20px;
    border-right: 1px solid #dadce0;
    z-index: 999;
  }

  
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    position: relative;
    left: 0%;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    color: #333;
    cursor: pointer;
  }

  .sidebar li:hover {  
    background-color: #f8f9fa;
  }

  .compet {
    background-color: #f8f9fa;
  }

  .compet::before {
    content: '';
    position: absolute;
    left: 99%; 
    top: 0%; 
    bottom: 10%; 
    width: 3.25px; 
    height: 100%;
    background-color: #000000; 
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px; 
}

  

  .RSNA2024 {
    font-weight: bold;
    font-size: 35px;
    color: #333;
  }

  .topContainer{
    position:relative;
    left: -21%;
  }

  .topTH{
    color: #5f6368;
    background-color: blue;
    cursor: pointer;
  }
  
  .create-button {
    display: flex;
    margin-top: -25px;
    background-color: white;
    border: 1px solid #f2f2f2;
    margin-left: 3%;
    border-radius: 50px;
    padding: 0px 15% 0px 10%;
    box-shadow: 0 0.1em 0.1em #c1c3c3;
    cursor: pointer;
    font-size: 110%; 
  }

  .create-button:hover {
    box-shadow: 0 0.1em 0.3em #c1c3c3; /* เพิ่มเงาเมื่อ hover */
  }

  .icon {
    color: #20beff;
    margin: 0px 10% 0px 0%;
    font-size: 270%;
  }

  .iconSide {
    position: relative;
    left: 5% ;
    margin-right: 15%;
    color: #696368;
  }

  .iconcompet {
    position: relative;
    left: 5% ;
    margin-right: 15%;
    color: #202124;
  }

  .circle-button {
    margin-top: -10px; 
    margin-left: 5%;
    width: 50px;      
    height: 50px;  
    left: 15%;   
    border-radius: 50%;  
    background-color: #ffffff;
    border: none;      
    color: #202124;    
    font-size: 24px;    
    display: flex;      
    justify-content: center; 
    align-items: center; 
    cursor: pointer;    
    transition: background-color 0.3s; 
  }

  .hamberger{
    font-size: 19px;
  }

  .circle-button:hover {
      background-color: #e8eaed;
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
  }
  
  .kaggle {
    margin-top: 20px; 
    font-family: 'Arial', sans-serif;
    font-size: 31px; 
    color: #20beff; 
    cursor: pointer;
    margin-left: 10px; 
    font-weight: 500;
  }

  .search-bar {
    position: fixed;
    top: 2%;
    display: flex;
    align-items: center;
    border: 1px solid #dadce0;
    border-radius: 50px;
    padding: 5px 15px;
    width: 70%;
    background-color: #ffffff;
    box-sizing: border-box;
    transition: border-color 0.3s;
    cursor: text;
    z-index: 10;
  }

  .search-bar:hover {
    border-color: #202124; 
    outline: 2px solid transparent; 
  }

  .search-bar input {
    position: relative;
    left: -10px;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    cursor: text; /* ทำให้ cursor เป็น text ใน input */
  }

  .search-bar input::placeholder {
    color: #5f6368;
    font-size: 15px;
  }

  .search-bar button {
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 18px;
    margin-right: 10px;
    cursor: text;
  }

  .search-bar button i {
    color: #5f6368;
    font-size: 18px; 
    cursor: text; 
  }

  .justLine{
    border: none;
    position: relative;
    left: -5%;
    top: -11.5px;
    width: 103%;
    height: 1px;
    background-color: #dadce0;
    margin: 20px 0;
  }

  .newlist{
    display: flex;       
    flex-direction: row;  
    list-style-type: none; 
    padding-left: 1.5%; 
    margin-top: -0.5%;
    color: #836368; 
    font-size: 17px;
  }
  
  .newlist li {
    margin-right: 2%;  
    cursor: pointer;
  }

  .newlist li:hover{
    color:#202124;
  }

  .data {
    color: #202124;
    position: relative;
    display: inline-block;
      padding-bottom: 5px;
  }

  .data::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -35%; /* ปรับค่าลบเพิ่มเพื่อเลื่อนเส้นลง */
    width: 100%;
    height: 3.25px;
    background-color: #000000;
    border-top-left-radius: 100px;  /* โค้งมนที่มุมซ้าย */
    border-top-right-radius: 100px;
  }

  .bigText{
    font-size: 145%;
    font-weight: 600;
  }

  .bigText2{
    font-size: 120%;
    font-weight: 600;
  }

  .topFar{
    margin-top: 4%;
    margin-bottom: 1.5%;
    font-size: 15px;
    color: #3c4043;
  }

  .same{
    margin-bottom: -1%;
    font-size: 15px;
    color: #3c4043;
  }

  .traincsv{
    margin-top: -0.9%;
    font-size: 15px;
    color: #3c4043;
  }

  .blackText{
    font-size: 15px;
    font-weight: 600;
    color: #3c4043;
  }

  .Gray{
    border-radius: 10px;
    padding: 2px 5px 4px 5px;
    background-color: #f5f5f5;
    color: #202124;
  }

  .textLi{
    margin-bottom: 1%;
    font-size: 15px;
    color: #3c4043;
  }

  .custom-br {
    margin-bottom: 20px;
  }

  .trainLable{
    margin-top: 2.2%;
    margin-bottom: 2.2%;
    font-size: 15px;
    font-weight: 600;
    color: #3c4043; 
  }

  .traincsv{
    margin-top: -0.9%;
    font-size: 15px;
    color: #3c4043;
  }

  .imageryData{
    font-weight: 500;
    color: #3c4043;
  }

  .editHr{
    border: none;
    position: relative;
    margin: 3.65% 0 3.65% 0;
    width: 80%;
    height: 1px;
    background-color: #dadce0;
  }

    
  table {
    border-collapse: collapse;
    width: 10%;
  }

  th, td {
    border: 1px solid #dadce0; 
    padding: 15px 20px 15px 20px;            
    text-align: center;    
  }

  thead th {
    background-color: #f2f2f2;   
    padding: 15px 20px 15px 20px;   
    font-weight: bold;     
  }

  .idk {
    padding: 20px;
    border: 1px solid #dadce0;
    border-radius: 12.5px;
    max-height: 300px; 
    overflow-y: auto; 
    width: 60%; 
    margin-top: -50px;
  }

  .noneDot{
    list-style-type: none; 
    padding-left: 2%;      
  }


  .dataEx{
    font-size: 20px;
    font-weight: bold;
  }
  
  .pointer{
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
  }

  .folderName{
    font-size: 16px;
  }

  .onRight{
    position: absolute;
    top: 59%;
    left: 70%;
    width: 28%;

  }
  
  .BLUEE{
    background-color: #ffffff;
  }

  .contain2{
    height: 500px;
    background-color: #ffffff;
  }

  .Metadata{
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
  }

  .metaNote{
    position: relative;
    top: 4px;
    font-size: 22px;
    color: #20212b;
  }

  .License{
    position: relative;
    top: -10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
  }

  .competRule{
    color: #5f6368;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
  }

  .competRule:hover{
    text-decoration-color: #000000;
  }

  .fileName{
    font-size: 18px;
    color: #202124;
    font-weight: 600;
  }

  .fileSize{
    margin-left: 10px;
    font-size: 18px;
    color: #5f6368;
    font-weight: 400;  
  }

  .upp{
    position: relative;
    top: -10px;
  }

    * {
        box-sizing: border-box;
      }
      
      .container {
        position: relative;
        left: 0.5%;
        max-width: 100%;
        margin: -10px -10px 0px 16.3%;
        padding: 20px 0px 0px 40px;
        font-family: Arial;
        background-color: #ffffff;
      }
      
      .tagline {
        position: relative;
        top:-30px;
        font-weight: normal;
        color: #836368;
      }
      
      .nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
      
      .nav-button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
      }
      
      .nav-button:hover {
        background-color: #0056b3;
      }

      

      


}